input[type="color"]{
    margin-bottom: 10px;
}
.elementos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}
.card{
    width: 20rem;
    display: flex;
    flex-direction: column;
}
img{
    height: 200px;
}